/* Estilos específicos para la página de registro */
.register-body {
    background-color: #f5f0e6;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .register-body .header {
    background-color: #ffd479;
    border-radius: 10px;
    margin: 10px;
  }
  
  .register-body .logo h1 {
    color: #1c1f2b;
  }
  
  .register-body .header .logo a {
    text-decoration: none;
  }
  
  .register-body .nav ul li a {
    text-decoration: none;
    color: #1c1f2b;
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 10px;
  }
  
  .register-box {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 420px;
    overflow: hidden;
  }
  
  .register-header {
    background-color: #1c1f2b;
    color: white;
    padding: 15px 0;
    text-align: center;
  }
  
  .register-header h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }
  
  .register-form {
    padding: 35px;
  }
  
  .btn-registrar {
    width: 100%;
    padding: 15px;
    background-color: #1c1f2b;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: "Nunito Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-registrar:hover {
    background-color: #333;
  }
  
  .login-redirect {
    text-align: center;
    margin-top: 20px;
  }
  